#header{
    position: fixed;
    top: 0;
    right: 0;
    background: #02b5cc;
    height: 48px;
    width: 100%;
}
.menu_bar{
    height: 48px;
    text-align: center;
}
/* 导航栏左边菜单 */
.menu_bar .menu_left{
    line-height: 26px;
    margin-top:15px;
}
.menu_left .menu_logo{
    float: left;
    margin-right: 20px;
    margin-top:-3px;
    width: 100px;
    height: 35px;
    font-size:34px;
    color: #fff;
}
.menu_left .item{
    font-weight: bold;
    position: relative;
    float: left;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
}
.menu_left .item:hover,.menu_left>ul>li>ul>li a:hover{
    color:#0a8494;
}
a{
    text-decoration: none;
}
.menu_left>ul>li>ul>li a{
    font-size: 12px;
    color: #333;
}
ul{
    list-style: none;
}
div>ul>li{
    float:left;
    width:75px; height:23px;
    border-width:10px 1px 10px 0;
    text-align:center;
    line-height:15px;
    position:relative;
}
div>ul>li:nth-child(1),div>ul>li:nth-child(2){
    width:40px;
}
div>ul>.item{
    color: #0a8494;
}
div>ul>li:nth-child(2)>ul,div>ul>li:nth-child(3)>ul,div>ul>li:nth-child(4)>ul,div>ul>li:nth-child(6)>ul{
    top: 33px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: all .5s linear;
}
div>ul>li>ul{
    background-color: #fff; 
    width: 120px; 
    border: 1px solid rgb(239,239,239);
    border-top: 0;
    position: absolute;
    left: 0;
}
div>ul>li:nth-child(2)>ul>li:first-child {
    height: 23px;
}
div>ul>li:nth-child(3)>ul>li:first-child {
    height: 43px;
}
div>ul>li:nth-child(4)>ul>li:first-child {
    height: 43px;
}
div>ul>li:nth-child(6)>ul>li:first-child {
    height: 83px;
}
div>ul>li>ul>li{
    display: block;
    background-color: #fff;
    text-align: left;
    padding-left: 30px;
    width: 90px;
    height: 25px;
    line-height: 25px;
}
div>ul>li:nth-child(2):hover>ul{
    opacity:1;
    height:60px;
}
div>ul>li:nth-child(3):hover>ul{
    opacity:1;
    height:80px;
}
div>ul>li:nth-child(4):hover>ul{
    opacity:1;
    height:80px;
}
div>ul>li:nth-child(6):hover>ul{
    opacity:1;
    height:120px;
}


/* 导航栏右边登录注册 */
.menu_bar .menu_right{
    float: right;
    margin-left: 23px;
    margin-top: -8px;
}
.menu_right .login_reg{
    display: inline-block;
    line-height: 37px;
}
.login_reg .login{
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
    margin-right: 2px;
}
.btn{
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
    background: #fafafa;
    border: 1px solid #02b5cc;
    color: #0a8494;
    text-align: center;
    box-shadow: 0 0 0 transparent;
}
.login_reg .register{
    padding: 0 15px;
    height: 32px;
    line-height: 32px;
}
.login_reg .rbtn{
    background: #0a8494;
    color: #fff;
}
.login_reg .login:hover{
    opacity: 0.9;
}
.login_reg .register:hover{
    opacity: 0.9;
}
/* 导航栏中间搜索框 */
.menu_bar .menu_center{
    float: right;
    width: 40%;
    overflow: hidden;
    position: relative;
    height: 32px;
    margin-top: -8px;
    font-size: 14px;
    color: #bbb;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 2px;
}
.menu_center .search{
    display: inline-block;
    border: 0;
    background-color: transparent;
    padding-left:10px;
    height: 35px;
    width: 100%;
}
