a,div,p,input,span,h1,body,img,ul,li{
    margin:0;
    padding: 0;
}
body{
    background:#d9e7ec;
    font-family: "helvetica neue",arial,sans-serif;
    font-size: 14px;
    color: #444;
    overflow-x: hidden;
    widows: 1349px;
}
.wrapper{
    width: 1220px;
    position: relative;
    margin: 0 auto;
    border: 0;
}
a{
    text-decoration: none;
}